 .panel-body  {
    word-break:break-all
}

.candy div {
  width: 90%;
}

.candy h1 {
  font: 400 40px/1.5 "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

.candy ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.candy li {
  font: 200 20px/1.5 "Courier New", Courier, monospace;
  border-bottom: 1px solid #ccc;
}

.candy li:last-child {
  border: none;
}

.candy li a {
  text-decoration: none;
  color: #f6f6f6;
  display: block;
  width: 100%;

  -webkit-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -moz-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -o-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -ms-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
}

.candy li div pre {
  color: #f6f6f6;
  display: block;
  width: 100%;

  -webkit-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -moz-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -o-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  -ms-transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
  transition: font-size 0.5s ease, color 1s ease, background-color 1s ease;
}

.candy li:hover a {
  font-size: 30px;
  color: #000;
  background: #f6f6f6;
}

.candy li:hover div pre {
  font-size: 20px;
  color: #000;
  background: #f6f6f6;
}



.pic {
 float: right;
 margin: 10px;
}
