
<!DOCTYPE 5>
<html ng-app="ScarmaGames" >
	<head>
		<title>Scarma</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/main.css"/>
		 <script src="jquery-3.1.0.min.js">                         </script>
		<script src="js/bootstrap.min.js">         </script>
		<script src="js/angular.min.js"> </script>
		<script src="js/menuController.js"> </script>
	</head>
	<body>
		<div class="candy container" ng-controller="menuController">
			<h1>Scarma Games</h1>
			<ul>
				<li class="candy" ng-repeat="item in items" ng-mouseover="hover = true" ng-mouseleave="hover = false">
					<a href="#">{{item.label}}</a><button ng-if="hover" ng-href="./{{item.link}}/index.html">Play</button>
					<div ng-show="hover">
						<p class="page"><img ng-src="img/{{item.img}}" class="pic">{{item.desc}}</p>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
